{{define "content"}}

<h3>Dashboard</h3>
<hr>

<table>
    <tr>
        <th>
            Badge Id
        </th>
         <th>
        {{.User.BadgeId}}
         </th>
    </tr>
    <tr>
        <th>
            Name
        </th>
         <th>
        {{.User.Name}}
         </th>
    </tr>
    <tr>
        <th>
            Local Name
        </th>
        <th>
            {{.User.LocalName}}
        </th>
    </tr>
   
</table>

<hr>

<table>

    <tr>
        <td>
            Experience Certificates
        </td>
        <td>

        </td>
    </tr>

    <tr>
        <td>
            Education Certificates
        </td>
        <td>
            
        </td>
    </tr>

    <tr>
        <td>
            Training Certificates
        </td>
        <td>
            
        </td>
    </tr>

    <tr>
        <td>
            Resume CV
        </td>
        <td>
            
        </td>
    </tr>

     <tr>
        <td>
            National ID - Iqama
        </td>
        <td>
            
        </td>
    </tr>

    <tr>
        <td>
           Passport
        </td>
        <td>
            
        </td>
    </tr>

     <tr>
        <td>
           Family Card
        </td>
        <td>
            
        </td>
    </tr>

    <tr>
        <td>
           IBAN Certificate
        </td>
        <td>
            
        </td>
    </tr>

    <tr>
        <td>
           National Address
        </td>
        <td>
            
        </td>
    </tr>

    <tr>
        <td>
           Driving License
        </td>
        <td>
            
        </td>
    </tr>


</table>



{{end}}